footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
  .contact {
    text-align: center;
    a {
      text-decoration: none;
      color: #E1E1E5;
      &:hover {
        color: #FF5400;
        transition: color 0.5s;
      }
    }
    p {
      color: #FF5400;
    }
  }

  .links {
    display: flex;
    align-items: center;
    svg {
      width: 50px;
      margin-left: 30px;
      @media (max-width: 480px) {
        width: 30px;
      }
      &:hover {
        transition: transform 0.7s;
        transform: scale(1.1);
        path {
          fill: #E1E1E5;
          transition: fill 1s;
        }
      }
    }

    @media (max-width:480px){
      margin-right: 2rem;
    }
  }

  @media (max-width:480px){
    flex-direction: column;
    gap: 10px;
  }

}