body {
  background: radial-gradient(circle, rgba(27,28,30,0.90) 10%, rgba(0,0,0,1) 100%);
  font-family: 'Comfortaa', cursive;
  margin: 0;
}

.separator {
 margin: 5rem auto;
  width: 75%;
  height: 2px;
  background-color: #E1E1E5;
  @media (max-width: 480px) {
    width: 90%;
  }
}

