

.banner {
  overflow: hidden;
  white-space: nowrap;
  width: 1200px;
  position: relative;
  margin: 10rem auto;
  @media (max-width: 1440px) {
    width: 900px;
  }
  @media (max-width: 1200px) {
    width: 700px;
  }
  @media (max-width: 768px) {
    width: 500px;
    margin: 5rem auto;
  }
  @media (max-width: 480px) {
    width: 310px;
    margin: 5rem auto;
  }



  &_content {
    display: inline-block;
    animation: slide 60s linear infinite;
    img {
      width: 100px;
      margin: 0 40px;
      vertical-align: middle;
      @media (max-width: 768px) {
        width: 60px;
      }
      @media (max-width: 480px) {
        width: 40px;
        margin: 0 20px;
      }
    }
  }
  &:before, &:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 150px;
    z-index: 1;
  }

  &:before {
    left: -10px;

  }

  &:after {
    right: -10px;

  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}






